.border{
     border: 2px solid red;
     margin:3px;
}
.flex{
     display: flex;
}
.justify-center{

     justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin:5px;
}
.p-1{
    padding: 10px;
}
/* ===== Scrollbar for Chrome, Edge, Safari ===== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222; /* Dark track */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Scroll thumb */
  border-radius: 8px;
  border: 2px solid #111; /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Lighter on hover */
}

/* ===== Scrollbar for Firefox ===== */
* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #444 #111; /* thumb track */
}